<?xml version="1.0" encoding="UTF-8" ?>
<configuration debug="false">

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!--
			encoders are assigned the type
			ch.qos.logback.classic.encoder.PatternLayoutEncoder by default
		-->
		<encoder>
			<pattern>%date %-5level [%class{0}.%M:%line] %msg%n</pattern>
		</encoder>
	</appender>
	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<encoder>
			<pattern>%date %-5level [%class{0}.%M:%line] %msg%n</pattern>
		</encoder>
		<append>true</append>
		<file>/tmp/groovy-jupyter-kernel.log</file>
	</appender>

	<logger name="org.lappsgrid.jupyter" level="warn"/>
	<logger name="org.lappsgrid.jupyter.GroovyKernel" level="warn"/>
	<logger name="org.lappsgrid.jupyter.handler.CompleteHandler" level="trace"/>
	<logger name="org.lappsgrid.jupyter.handler.ExecuteHandler" level="warn"/>
    <logger name="org.lappsgrid.jupyter.GalaxyClient" level="trace"/>

	<root level="info">
		<appender-ref ref="FILE" />
		<!-- <appender-ref ref="FILE"/>  -->
	</root>
</configuration>
